.profile {
    background-image: linear-gradient(to bottom, aqua 50%, white 50%);
    width: 350px;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial;
  }
  .logo {
    border: solid 5px grey;
    background-color: pink;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-bottom: 5px;
    margin-top: auto;
  }
  .details {
    text-align: center;
    padding: 2px;
    margin: 0px;
    
  }
  .metrics {
    padding: 10px;
    border: 1px solid grey;
    margin: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .przerwa {
    text-align: center;
    margin: 3px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
  }