.button{
    background-color: pink;
    width: 200px;
    display: inline-block;
    margin: 5px;
    padding: 10px;
}
.button2{
    background-color: blue;
    width: 200px;
    display: inline-block;
    margin: 5px;
    padding: 10px;
}
.button3{
    background-color: blueviolet;
    width: 200px;
    display: inline-block;
    margin: 5px;
    padding: 10px;
}
